//- 
extends ./layout

block content
  link(rel='stylesheet', href='/styles/list.css')

  header
    nav.blue-grey.darken-3
      div.container
        div.nav-wrapper
          //- a.page-title Navbar
      a.button-collapse.hide-on-large-only(href='', data-activates="nav-mobile")
        i.mdi-navigation-menu
    div.nav-wrapper
      ul#nav-mobile.side-nav.fixed
        each category in json
          li.category.opened
            a(href='') #{category.title}
              span.badge
                i.material-icons keyboard_arrow_down
            ul
              each sample in category.samples
                if sample.visible !== false
                  li.sample
                    a(href='#{sample.url}', target='preview', data-path='#{category.title}/#{sample.title}') #{sample.title}
        li.advertising.
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Runstant Lite -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-1611962793956940"
               data-ad-slot="1233189315"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>


  main.main
    iframe.preview(name='preview')

  script.
    $(function() {
      $(".button-collapse").sideNav({
        menuWidth: 300,
      });

      $('li.category>a').click(function() {
        var elm = $(this);
        elm.parent().toggleClass('opened');
        return false;
      });

      $('li.sample>a').click(function() {
        var path = this.dataset.path;
        location.hash = path;

        $('li.sample').removeClass('active');
        $(this.parentNode).addClass('active');

        $(".button-collapse").sideNav('hide');
      });

      // 
      var hash = location.hash.substr(1);
      var target = $('[data-path="'+ hash +'"]');
      var href = target.attr('href');
      $('.preview').attr('src', href);
      target.parent().addClass('active');
    });
