//- 
extends ./layout

block content
  link(rel='stylesheet', href='/styles/list.css')

  side
    nav
      ul#nav-mobile.side-nav.fixed
        each category in json
          li.category.opened
            a(href='') #{category.title}
            ul
              each sample in category.samples
                if sample.visible !== false
                  li.sample
                    a(href='#{sample.url}', target='preview', data-path='#{category.title}/#{sample.title}') #{sample.title}

  main.main
    iframe.preview(name='preview')

  script.
    $(function() {
      $('li.category>a').click(function() {
        var elm = $(this);
        elm.parent().toggleClass('opened');
        return false;
      });

      $('li.sample>a').click(function() {
        var path = this.dataset.path;
        location.hash = path;
      });

      // 
      var hash = location.hash.substr(1);
      var target = $('[data-path="'+ hash +'"]');
      var href = target.attr('href');
      $('.preview').attr('src', href);
    });
